/* Hide the site name text on wide screen */
@media screen and (min-width: 76.25em) {
  .md-header__title .md-ellipsis {
    display: none;
  }
}

/* Increase the logo size */
.md-header__button.md-logo img {
    height: 2.2rem;   /* Standard is around 1.2rem; adjust this as needed */
    width: auto;    /* Keep aspect ratio */
    margin-right: 0;
    /* padding: 0.1rem; */
}

/* Target the label specifically inside the navigation title */
.md-nav__title[for=__drawer] {
  font-size: 0px;
  line-height: 0;
  padding-top: 0;
  height: 4rem;
}

/* Adjust the header height to accommodate the larger logo if it gets cut off */
.md-header__inner {
    height: 3rem;
}

/* Vertically center the search box and other items in the taller header */
.md-header__items {
    align-items: center;
}

.jp-InputPrompt,
.jp-OutputPrompt,
.jp-InputArea-prompt {
    display: none !important;
    width: 0 !important;
    min-width: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

/* 2. Force the code and output areas to take up 100% of the width */
.jp-InputArea-editor,
.jp-OutputArea-child,
.jp-OutputArea-output {
    flex: 1 1 auto !important;
    width: 100% !important;
}

/* 3. Remove the left border/padding that usually separates numbers from code */
.jp-Cell-inputWrapper,
.jp-Cell-outputWrapper {
    margin: 0 !important;
    padding: 0 !important;
}
